.breadcrumbs {
  display: flex;
  font-size: 90%;
  padding-top: 0.1rem;
  padding-left: 1rem;
  padding-bottom: 0.3rem;

  /*border-bottom: 1px solid saddlebrown;*/
  /*border-top: 1px solid saddlebrown;*/
}

.breadcrumbs-item {
  cursor: pointer;
  color: #006385;
}

.breadcrumbs-item:hover {
  text-decoration: underline;
}

.breadcrumbs-item:first-child {
  margin-left: 6.2rem;
}

.breadcrumbs-item:last-child {
  margin-right: 1rem;
}

.breadcrumbs-item-separator {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
