.breadcrumbs {
  display: flex;
  font-size: 90%;
  padding-left: 140px;
  padding-bottom: 10px;

  /*border-bottom: 1px solid saddlebrown;*/
  /*border-top: 1px solid saddlebrown;*/

  padding-top: 30px;
  background: #2f80ed;
  position: fixed;
  top: 62px;
  width: 100%;
  z-index: 1000;
}

.breadcrumbs-item {
  cursor: pointer;
  color: #ffffff;
  transition: border-color 250ms;
  border-bottom: 1px dashed transparent;
}

.breadcrumbs-item md-ref {
  cursor: pointer;
  color: #ffffff;
  transition: border-bottom 250ms;
  border-bottom: 1px dashed transparent;
  user-select: none;
  text-decoration: none;
  font-weight: normal;
}

.breadcrumbs-item md-ref:hover {
  border-bottom: 1px dashed #ffffff;
}


.breadcrumbs-item:hover {
  border-bottom: 1px dashed #ffffff;
}

.breadcrumbs-item:last-child {
  margin-right: 1rem;
}

.breadcrumbs-item-separator {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #ffffff;
  cursor: default;
  user-select: none;
}

@media only screen and (max-width: 768px) {
  .breadcrumbs {
    padding-top: 10px;
    padding-left: 10px;
    top: 62px;
    transition: top 250ms;
  }
}
