.breadcrumbs {
  display: flex;
  font-size: 90%;
  padding-top: 0.1rem;
  padding-left: 1rem;
  padding-bottom: 0.3rem;
}

.breadcrumbs-item {
  cursor: pointer;
  color: #006385;
}
.breadcrumbs-item:hover {
  text-decoration: underline;
}

.breadcrumbs-item-separator {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
