html {
  font-family: 'PT Root UI', sans-serif;
  line-height: 18px;
}

body {
  background-color: #efefef;
}

html, body {
  padding: 0;
  margin: 0;
}

code {
  font-family: "Liberation Mono", serif;
  font-size: 85%;
}

p code, li code {
  background-color: #EEEEEEFF;
  padding: 0.1rem 0.3rem -0.05rem;
  border-bottom: #2f80ed 1px solid;
}

/* region scroll-bar */

.scroll-bar {
  overflow-y: auto;

  scrollbar-face-color: #00000003;
  scrollbar-track-color: rgba(0, 0, 0, 0.1);
  /*noinspection CssUnknownProperty*/
  scrollbar-color: #a5a2a2 rgba(0, 0, 0, 0.1);
  /*noinspection CssUnknownProperty*/
  scrollbar-width: thin;
}

.scroll-bar::-webkit-scrollbar-thumb {
  position: absolute;
  border-radius: 35px;
  background-color: #dfdfdf;
  box-shadow: inset 0 0 0 1px #cfcfcf;
}

.scroll-bar::-webkit-scrollbar-track {
  position: absolute;
  border-radius: 10px;
  background-color: #efefef;
}

.scroll-bar::-webkit-scrollbar {
  position: absolute;
  width: 6px;
}

/* endregion */

