
.content {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 0.5rem;
  justify-content: flex-end;

  max-height: 600px;
  background: #2f80ed;
  position: fixed;
  width: 100%;
  top: 121px;
}

.main {
  margin-top: 121px;
  width: fit-content;
  position: relative;
}

.markdown, .dir-list, .no-file {
  max-width: 882px;
  width: 882px;
  background-color: white;
  margin-left: 140px;
  border: #dfdfdf solid 1px;
  box-shadow: 0 0 51px 8px rgba(34, 60, 80, 0.2);
  min-height: 460px;
}


.content .left {
  max-height: 600px;
  margin-right: 10px;
  margin-left: 1100px;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.content .left .caption {
  line-height: 135%;
  margin-top: 1px;
}

.content .left .caption a {
  text-decoration: none;
  color: #ffffff;
  transition: border-bottom 250ms;
  border-bottom: 1px dashed transparent;
  user-select: none;
}

.content .left .caption a:hover {
  border-bottom: 1px dashed #ffffff;
}

.download-toc {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 14px;
  background: white;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 51px 8px rgb(34 60 80 / 20%);
  z-index: 100000;
}

.download-toc a {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-bottom: 1px dashed transparent;
  transition: border-bottom 250ms;
}
.download-toc a:hover {
  border-bottom: 1px dashed #525252;
}

.download-toc .title {
  cursor: default;
  user-select: none;
}

.download-toc img, .download-toc .extension {
  margin-left: 5px;
  cursor: pointer;
  text-decoration: none;
}

.content .left .selected {
  font-weight: bold;
}

.content .left .level1 {
  padding-left: 0;
}

.content .left .level2 {
  padding-left: 0.5rem;
}

.content .left .level3 {
  padding-left: 1rem;
}

.content .left .level4 {
  padding-left: 1.5rem;
}

.content .left .level5 {
  padding-left: 2rem;
}

.content .left .level6 {
  padding-left: 2.5rem;
}

.content .left .level7 {
  padding-left: 3rem;
}

.content .left .level8 {
  padding-left: 3.5rem;
}

.search-line-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .content {
    top: 100px;
    min-height: 410px;
    max-height: 410px;
    z-index: 1000;
    padding-top: 5px;
    display: none;
  }

  .content .left {
    margin-left: 10px;
    max-height: 410px;
    margin-bottom: 5px;
  }

  .search-line-mobile {
    position: fixed;
    top: 62px;
    z-index: 1000;
    background-color: #2f80ed;
    padding-top: 3px;
  }

  .main {
    width: 100%;
    display: flex;
    margin-top: 101px;
    transition: margin-top 250ms;
  }
}
