
.content {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 0.5rem;
  justify-content: flex-end;

  max-height: 600px;
  background: #2f80ed;
  position: fixed;
  width: 100%;
  top: 121px;
}

.main {
  margin-top: 121px;
  width: fit-content;
  position: relative;
}

.markdown, .dir-list, .no-file {
  max-width: 882px;
  width: 882px;
  background-color: white;
  margin-left: 140px;
  border: #dfdfdf solid 1px;
  box-shadow: 0 0 51px 8px rgba(34, 60, 80, 0.2);
  min-height: 460px;
}


.content .left {
  max-height: 600px;
  margin-right: 10px;
  margin-left: 1100px;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.content .left .caption {
  line-height: 135%;
  margin-top: 1px;
}

.content .left .caption a {
  text-decoration: none;
  color: #ffffff;
  transition: border-bottom 250ms;
  border-bottom: 1px dashed transparent;
  user-select: none;
}

.content .left .caption a:hover {
  border-bottom: 1px dashed #ffffff;
}

.content .left .selected {
  font-weight: bold;
}

.content .left .level1 {
  padding-left: 0;
}

.content .left .level2 {
  padding-left: 0.5rem;
}

.content .left .level3 {
  padding-left: 1rem;
}

.content .left .level4 {
  padding-left: 1.5rem;
}

.content .left .level5 {
  padding-left: 2rem;
}

.content .left .level6 {
  padding-left: 2.5rem;
}

.content .left .level7 {
  padding-left: 3rem;
}

.content .left .level8 {
  padding-left: 3.5rem;
}
