/*****************************************************
              FONT: PT Root UI
******************************************************/

@font-face {
  font-family: 'PT Root UI Regular';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/PTRootUI_Regular.woff') format('woff');
}

@font-face {
  font-family: 'PT Root UI Light';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/PTRootUI_Light.woff') format('woff');
}

@font-face {
  font-family: 'PT Root UI Medium';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/PTRootUI_Medium.woff') format('woff');
}

@font-face {
  font-family: 'PT Root UI Bold';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/PTRootUI_Bold.woff') format('woff');
}

@font-face {
  font-family: 'PT Root UI';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/PTRootUI_Regular.woff') format('woff');
}

@font-face {
  font-family: 'PT Root UI';
  font-style: normal;
  font-weight: bold;
  src: url('fonts/PTRootUI_Bold.woff') format('woff');
}

/*****************************************************
              FONT: Liberation Mono
******************************************************/

@font-face {
  font-family: 'Liberation Mono';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/LiberationMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Liberation Mono';
  font-style: normal;
  font-weight: bold;
  src: url('fonts/LiberationMono-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Liberation Mono';
  font-style: italic;
  font-weight: bold;
  src: url('fonts/LiberationMono-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Liberation Mono';
  font-style: italic;
  font-weight: normal;
  src: url('fonts/LiberationMono-Italic.ttf') format('truetype');
}
