.header {
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  display: flex;
  flex-direction: row;
}

.header-caption {
  margin-right: 2rem;
}

.header-caption a {
  font-size: 120%;
  color: black;
  text-decoration: none;
}

.header-caption a:visited {
  text-decoration: none;
}

.header .search-line {
  margin-left: auto;
  width: 30rem;
}

.gsc-control-cse-ru {
  padding: 0;
}
