.markdown {
  padding: 1rem;
}

.markdown h1 {
  line-height: normal;
}

.markdown pre {
  margin-left: 1rem;
  padding: 0.3rem;

  background-color: #eeeeee;
  border-radius: 3px;
}

.markdown table {
  border-spacing: 0;
}

.markdown table tr td, .markdown table tr th {
  border-top: 1px solid #b7b7b7;
  padding: 0.5rem;
}

.markdown table tr td:first-child,
.markdown table tr th:first-child {
  border-left: 1px solid #b7b7b7;
  border-right: 1px solid #b7b7b7;
}

.markdown table tr td:last-child,
.markdown table tr th:last-child {
  border-right: 1px solid #b7b7b7;
}

.markdown table tr:last-child td {
  border-bottom: 1px solid #b7b7b7;
}

.markdown ul li {
  margin-bottom: 5px;
}

.markdown ul li a, p a {
  color: #2f80ed;
  transition: border-bottom 250ms;
  border-bottom: 1px dashed transparent;
  user-select: none;
  text-decoration: none;
}

.markdown ul li a:hover, p a:hover {
  border-bottom: 1px dashed #2f80ed;
}

@media only screen and (max-width: 768px) {
  .markdown, .dir-list, .no-file {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
  }

  .markdown img {
    width: 100% !important;
  }
}
