md-ref {
  cursor: pointer;
  color: #2f80ed;
  transition: border-bottom 250ms;
  border-bottom: 1px dashed transparent;
  user-select: none;
  text-decoration: none;
  font-weight: normal;
}

md-ref:hover {
  border-bottom: 1px dashed #2f80ed;
}
